@import "tailwindcss";

@theme {
  --color-main: #fff3e3;
  --color-secondary-main: #b88e2f;
}

@layer components {
  /* Style the inactive bullets */
  .swiper-pagination-bullet {
    background: #8e8e8e !important;
    border: 2px solid transparent !important;
    opacity: 0.5;
  }

  /* Style the active bullet */
  .swiper-pagination-bullet-active {
    border: 2px solid #b88e2f !important;
    background: white !important;
    /* Force the active color */
    opacity: 1;
    @apply scale-130;
  }

  /* Optional: move pagination position */
  .swiper-pagination {
    bottom: 0px !important;
    text-align: left !important;
  }
}
